<i class="section-title">Create a new room</i>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="newRoomName" (keyup.enter)="createRoom()" placeholder="Room name">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" (click)="createRoom()">CREATE</button>
  </span>
</div>
<div class="room-list">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" (click)="setCurrentRoom(null)">Main</a>
    <a *ngFor="let room of rooms" href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': selectedItem == room}" (click)="setCurrentRoom(room)">{{ room.name }}</a>
  </div>
</div>
