i.navbar-text{
    cursor: pointer;
    margin-left: 15px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}