<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ChatApp</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand">{{roomTitle}}</a>
      </li>
    </ul>
    <img class="user-avatar" *ngIf="avatar!=null" [src]="avatar" alt="">
    <span class="navbar-text" *ngIf="isLoggedIn"> {{userName}}</span>
    <i class="navbar-text fa fa-sign-out" *ngIf="isLoggedIn" (click)="logOut()" aria-hidden="true"></i>
  </div>
</nav>