<div #scrollMe class="bs-example" id="messages">
  <div *ngFor="let message of messages | async">
      <app-message [message]="message"></app-message>
  </div>
</div>
<div>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type message..">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" (click)="sendMessage()">SEND</button>
    </span>
  </div>
</div>