<div class="row  no-gutters">
  <div *ngIf="isMe(message.uid || message.email)" class="col-sm-1">
    <img [src]="message.avatar" width="100%" height="auto" style="border-radius: 50px;" alt="">
  </div>
  <div class="col-sm-11">
    <div class="bubble" [ngClass]="{'me' : isMe(message.uid || message.email), 'you' : !isMe(message.uid || message.email)}">
        <p>{{ message.message }}</p>
        <div class="author">
            {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
        </div>
    </div>
  </div>
  <div *ngIf="!isMe(message.uid || message.email)" class="col-sm-1">
    <img [src]="message.avatar" width="100%" height="auto" style="border-radius: 50px;" alt="">
  </div>
</div>
