<div class="input-group">
    <input type="text" [(ngModel)]="term" class="form-control" id="exampleInputPassword1" placeholder="Type to search">
    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-filter" aria-hidden="true"></i></span>
</div>
<div class="user-list">
    <div class="list-group">
        <button 
            *ngFor = "let item of users | TextPipe:term"  
            type="button" 
            class="list-group-item list-group-item-action justify-content-between" 
            (click)="onItemSelected(item)"
            [disabled]="roomAdminId != currentUserId && item.uid != currentUserId">
            {{item.uid != currentUserId ? item.name : "You (" + item.name + ")"}}
            <span *ngIf="item.uid == roomAdminId" class="badge badge-info badge-pill">Admin</span>
        </button>
    </div>
</div>
