<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8">
      <app-chat-window
        [messages]="messages"
        (onMessage)="sendMessage($event)"></app-chat-window>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#rooms" role="tab">My rooms</a>
        </li>
        <li *ngIf="resultsInGroup.length" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#participants" role="tab">Participants</a>
        </li>
        <li *ngIf="currentRoomAdminId == currentUserId && resultsNotInGroup.length" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#invite" role="tab">Invite</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane side-list active" id="rooms" role="tabpanel">
            <app-rooms-list (onRoomSelected)="setCurrentRoom($event)" (onCreateNewRoom)="createRoom($event)" [rooms]="rooms"></app-rooms-list>
        </div>
        <div *ngIf="resultsInGroup.length" class="tab-pane side-list" id="participants" role="tabpanel">
            <i class="section-title">{{getParticipantsTitle()}}</i>
            <app-users-search 
              [users]="resultsInGroup" 
              (itemSelected)="removeUserFromRoom($event)"
              [roomAdminId]="currentRoomAdminId"
              [currentUserId]="currentUserId"></app-users-search>
        </div>
        <div *ngIf="currentRoomAdminId == currentUserId && resultsNotInGroup.length" class="tab-pane side-list" id="invite" role="tabpanel">
            <i class="section-title">Press user to add him to this room</i>
            <app-users-search 
              [users]="resultsNotInGroup" 
              (itemSelected)="addUserToRoom($event)"
              [roomAdminId]="currentRoomAdminId"
              [currentUserId]="currentUserId"></app-users-search>
        </div>
      </div>
    </div>
  </div>
</div>
